# This is an example of a .env file. Fill in the correct values for your environment.
# This file contains configuration settings for the application.
# Fill in the correct values for your environment.
# Make sure to rename this file to .env before using it.
 
 
# RabbitMQ Configuratie
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
QUEUE_NAME=controlroom.heartbeat.test
 
# Logstash Configuratie
LOGSTASH_PORT=5044
LOGSTASH_URL=http://logstash:5044
 
# Elasticsearch Configuratie
ELASTICSEARCH_HOST=http://elasticsearch:9200
ELASTICSEARCH_INDEX=heartbeat-logs

#ELASTICSEARCH_USER=${{ secrets.ELASTICSEARCH_USER }}   Set from GitHub Secrets
#ELASTICSEARCH_PASSWORD=${{ secrets.ELASTICSEARCH_PASSWORD }}   Set from GitHub Secrets

ELASTICSEARCH_USER=elastic
ELASTICSEARCH_PASSWORD=changeme # Change password with the following command:

# docker compose exec elasticsearch bin/elasticsearch-reset-password --batch --user elastic





ELASTICSEARCH_MEMORY_OPTS=-Xms512m -Xmx512m
 
# Docker Netwerk Configuratie
DOCKER_NETWORK=elk
 
# SSH Configuratie (voor deployment via SSH)
# SSH_HOST=${{ secrets.SSH_HOST }}  # Set from GitHub Secrets
# SSH_USERNAME=${{ secrets.SSH_USERNAME }}  # Set from GitHub Secrets
# SSH_PRIVATE_KEY=${{ secrets.SSH_PRIVATE_KEY }}  # Set from GitHub Secrets
# SSH_PORT=${{ secrets.SSH_PORT }}  # Set from GitHub Secrets
 
# GitHub CI/CD Configuratie
CI_BRANCH=deployment

# Kibana user credentials
KIBANA_SYSTEM_PASSWORD= changeme # Change password with the following command:
# docker compose exec elasticsearch bin/elasticsearch-reset-password --batch --user kibana_system

# Other ELK Stack variables
LOGSTASH_INTERNAL_PASSWORD=changeme # Change password with the following command:
#docker compose exec elasticsearch bin/elasticsearch-reset-password --batch --user logstash_internal

ELASTIC_VERSION=8.17.3


ELASTIC_PASSWORD=changeme
LOGSTASH_INTERNAL_PASSWORD=changeme
KIBANA_SYSTEM_PASSWORD=changeme
METRICBEAT_INTERNAL_PASSWORD=changeme
FILEBEAT_INTERNAL_PASSWORD=changeme
HEARTBEAT_INTERNAL_PASSWORD=changeme
MONITORING_INTERNAL_PASSWORD=changeme
BEATS_SYSTEM_PASSWORD=changeme
